*{
/*   border: 1px solid black; */
}
body,html{
  padding: 5px;
  margin: 0px;
  position: relative;
}
.searchbar{
  position: relative;
}
#search {
/*   display: block; */
  background-repeat: no-repeat;
  width: 40%;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
.tag{
  background: #ccc;
  border:1px solid #999;
  margin-left:-5px;
  border-radius: 0px 20px 0px 0px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}
.tag.first{
  margin-left:0px;
}
input[type=radio]{
  position: absolute;
  visibility: hidden;
}
.content{
  border: 1px solid black;
}
.card{
  cursor: pointer;
  position: relative;
  margin: 5px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px; 
}