.container{
  width: 100%;
  padding: 5%;
}

.tag{
  background: #ccc;
  border:1px solid #999;
  margin-left:-5px;
  border-radius: 0px 20px 0px 0px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}
.tag.first{
  margin-left:0px;
}
input[type=radio]{
  position: absolute;
  visibility: hidden;
}
.content{
  border: 1px solid black;
}
.card{
  cursor: pointer;
  position: relative;
  margin: 5px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.card .name{
  width:100px;
  margin-top: 10px;
  text-align: center;
}
.card .photo{
  height: 100px;
  width: 100px;
}
.card .info{
  position: absolute;
  top: 15px;
  left: 130px;
  line-height: 150%;
}
.card .bottom{
  margin-top: 20px;
  display: flex;
  justify-content:center;
}
.card .btn{
  padding: 5px 15px;
  margin-right: 10px;
}